body{
    background: #EEF0F3;
    overflow-x: hidden;
}
.badge.bg-secondary{
    background: #E0E0E0 !important;
    color: black;
}
.badge.bg-secondary:hover{
    text-decoration: line-through;
    cursor: pointer;
}
.divider{
    background: #EEF0F3;
    height: 1px;
    width: 100%;
}
.my-card img{
    height: 280px;
}
.my-card:hover img{
    height: 250px;
}
.accordion-button:not(.collapsed){
    background: none !important;
    color: black !important;
}